<%= form_with(model: books_copy) do |form| %>
  <% if books_copy.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(books_copy.errors.count, "error") %> prohibited this books_copy from being saved:</h2>

      <ul>
        <% books_copy.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :book_id, style: "display: block" %>
    <%= form.text_field :book_id %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.label :condition, style: "display: block" %>
    <%= form.number_field :condition %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
