<%# app/views/books/_book.html.erb %>
<div class="book-card" style="<%= 'background-image: url(' + book.small_image_url + ');' if book.small_image_url.present? %>" >
  <div class="book-text book-title"><%= book.title %></div>
  <div class="book-text book-author"><%= book.author %></div>
  <div class="book-text book-isbn">ISBN: <%= book.isbn %></div>
  <div class="book-text book-published-date"><%= book.published_date %></div>
  <div class="book-text book-pages"><%= pluralize(book.pages, 'page') %></div>
  <div class="book-text book-description"><%= truncate(book.description, length: 100) %></div>
</div>
